
         {%extends 'jobseeker/base.html' %}
    {% load static %}
    {%block bodyblock %}
    <h3 class="mt-4">welcome {{request.user}} to the new openings</h3>
    {%for job in job%}
    
    <div class="card mb-3 my-4" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex justify-content-center align-items-center px-2 ">
            {%if job.poster%}
            <img src="{{job.poster.url}}" class="img-fluid rounded-start" alt="...">
            {%endif%}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{job.title}}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              <p class="card-text">
                <i class="fa-regular fa-clock"></i> Full time
                <i class="fa-solid fa-sack-dollar" style="color: #3f4040;"></i> {{job.salary}}
                <i class="fa-solid fa-building" style="color: #4a4a4a;"></i>{{job.company_name}}
    
            </p>
            <a href="{% url 'apply' job.id %}" class="text-decoration-none btn btn-primary btn-sm">Apply now</a>
            </div>
          </div>
        </div>
      </div>
    
    {%endfor%}
    
    
    {%endblock%}
    
    